@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'CentroMedium';
	src: url('../fonts/pfcentrosanspro-medium-webfont.eot');
	src: url('../fonts/pfcentrosanspro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfcentrosanspro-medium-webfont.woff') format('woff'), url('../fonts/pfcentrosanspro-medium-webfont.ttf') format('truetype'), url('../fonts/pfcentrosanspro-medium-webfont.svg#webfont') format('svg');
}
body {
	font-family:'CentroMedium', Arial, Helvetica, sans-serif;
	opacity:0;
	background: url(../img/bg.jpg) no-repeat top center;
}
.row {
	width:1020px;
!important;
}
.top-row {
	height:260px;
}
.top-symbols {
	width: 600px;
	margin:30px auto;
	position:relative;
	display:block;
	float:none;
}
#top-arrow {
	position:absolute;
	cursor: pointer;
}
#bottom-arrow {
	position:absolute;
	top:60px;
	left:35px;
	cursor: pointer;
}
#top-crown {
	left:175px;
	position: absolute;
	top: 50px;
}
.sizer {
	min-width:425px;
}
.main-menu {
	width:425px;
	margin:auto;
}
.menu-items {
	float:left;
}
.menu-item {
	background-repeat:no-repeat;
	position:relative;
	float:left;
	width:200px;
	display:block;
	height:51px;
	cursor: pointer;
	z-index: 100;
}
.menu-text {
	line-height:51px;
	opacity:1;
	font-size:16px;
	font-weight:bold;
	font-family:"CentroMedium", Arial, Helvetica, sans-serif;
	margin-left:10px;
	position:absolute;
	top:0;
	width:200px;
}
.bg-light {
	width:170px;
	background-image:url(../img/menu-background-light.jpg);
	height:51px;
}
.bg-dark {
	width:170px;
	background-image:url(../img/menu-background-dark.jpg);
	height:51px;
}
.menu-arrow-light {
	float:left;
	width:100px;
	background-image:url(../img/arrow_light.png);
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	left:170;
	height:51px;
}
.menu-arrow-dark {
	background-repeat:no-repeat;
	float:left;
	width:100px;
	background-image:url(../img/arrow_dark.png);
	position:absolute;
	top:0;
	left:170;
	height:51px;
}
.text-light {
	color:#FFF
}
.text-dark {
	color:#000
}
.chess-top {
	width:850px;
	height: 345px;
	margin: auto;
	position: relative;
	overflow:hidden;
}
#form {
	width:352px;
	margin: 30px auto;
}
#win {
	background:none;/*padding-top:50px;*/
}
.form-container img {
	display: block;
	margin:auto;
}
#bottom-bar {
	position:absolute;
	bottom:0;
	left:0;
}
.chess-wrapper {
	opacity:1;
}
.chess-main {
	height: 350px;
	width:850px;
	margin: auto;
	position:relative;
}
#king {
	position:absolute;
	right:90px;
	top:-180px;
}
#chess {
	display:block;
	margin:auto;
	vertical-align:bottom;
	position:absolute;/*bottom:0;*/
}
#logos {
	padding:0 10px;
	position: absolute;
	top: 220px;
	width: 850px;
}
#logo-germanos {
	float:right;
}
#logo-cosmote {
	float:left;
}
.side-nav {
	padding-top:0;
}
.contentItem {
	width:425px;
	margin:auto;
	background-color:rgba(255,255,255,.25);
	height:345px;
	position:absolute;
	top:345px;
	left:210px;
}
