@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'CentroMedium';
	src: url('../fonts/pfcentrosanspro-medium-webfont.eot');
	src: url('../fonts/pfcentrosanspro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfcentrosanspro-medium-webfont.woff') format('woff'), url('../fonts/pfcentrosanspro-medium-webfont.ttf') format('truetype'), url('../fonts/pfcentrosanspro-medium-webfont.svg#webfont') format('svg');
}
@font-face {
	font-family: 'CentroBold';
	src: url('../fonts/pfcentrosanspro-bold-webfont.eot');
	src: url('../fonts/pfcentrosanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfcentrosanspro-bold-webfont.woff') format('woff'), url('../fonts/pfcentrosanspro-bold-webfont.ttf') format('truetype'), url('../fonts/pfcentrosanspro-bold-webfont.svg#webfont') format('svg');
}
body {
	font-family:'CentroMedium', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: aliased;
	opacity:0;
	background: url(../img/bg.jpg) no-repeat top center;
}
.row {
	width:1020px;
!important;
}
.top-row {
	height:260px;
}
.top-symbols {
	width: 600px;
	margin:20px auto;
	position:relative;
	display:block;
	float:none;
}
#home{
	cursor: pointer;
position:absolute;
}
#top-arrow {
	position:absolute;
	left:0;
}
#bottom-arrow {
	position:absolute;
	top:70px;
	left:30px;
	
}
#top-crown {
	left:175px;
	position: absolute;
	top: 57px;
}
.sizer {
	min-width:425px;
}
.main-menu {
	width:425px;
	margin:auto;
}
.menu-items {
	float:left;
}
.menu-item {
	background-repeat:no-repeat;
	position:relative;
	float:left;
	width:200px;
	display:block;
	height:51px;
	cursor: pointer;
	z-index: 100;
}
.menu-text {
	line-height:51px;
	opacity:1;
	font-size:18px;
	font-family:"CentroBold", Arial, Helvetica, sans-serif;
	margin-left:10px;
	position:absolute;
	top:0;
	width:200px;
}
.bg-light {
	width:170px;
	background-image:url(../img/menu-background-light.jpg);
	height:51px;
}
.bg-dark {
	width:170px;
	background-image:url(../img/menu-background-dark.jpg);
	height:51px;
}
.menu-arrow-light {
	float:left;
	width:100px;
	background-image:url(../img/arrow_light.png);
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	left:170;
	height:51px;
}
.menu-arrow-dark {
	background-repeat:no-repeat;
	float:left;
	width:100px;
	background-image:url(../img/arrow_dark.png);
	position:absolute;
	top:0;
	left:170;
	height:51px;
}
.text-light {
	color:#FFF
}
.text-dark {
	color:#000
}
.chess-top {
	width:850px;
	height: 310px;
	margin: auto;
	position: relative;
	overflow:hidden;
}
#form {
	width:352px;
	margin: 30px auto;
}
#win {
	background:none;/*padding-top:50px;*/
}
.form-container img {
	display: block;
	margin:auto;
}
#bottom-bar {
	position:absolute;
	bottom:0;
	left:0;
}
.chess-wrapper {
	opacity:1;
}
.chess-main {
	height: 350px;
	width:850px;
	margin: auto;
	position:relative;
}
#king {
	position:absolute;
	right:90px;
	top:-180px;
	pointer-events:none;
}
#chess {
	display:block;
	margin:auto;
	vertical-align:bottom;
	position:absolute;/*bottom:0;*/
}
#logos {
	padding:0 10px;
	position: absolute;
	top: 240px;
	width: 850px;
}
#logo-germanos {
	float:right;
}
#logo-cosmote {
	float:left;
}
.side-nav {
	padding-top:0;
}
.contentItem {
	width:425px;
	margin:auto;
	background-color:rgba(255,255,255,.25);
	height:310px;
	position:absolute;
	top:293px;
	left:213px;
	overflow:hidden;
}

.contentWrapper {
	padding:15px;
}
.contentWrapper h1 {
	font-size:18px;
	font-family:'CentroBold', Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0 auto 10px;
}
.contentWrapper p {
	font-size:12px;
	font-family:'CentroMedium', Arial, Helvetica, sans-serif;
	text-align:center;
	line-height:12px;
	margin-bottom:5px;
}
.codeInput {
	background-image:url(../img/textBackground.jpg) !important;
	background-repeat:no-repeat;
	width:289px !important;
	height:31px !important;
	border:none !important;
	margin:20px auto !important;
	font-size:0.8rem !important;
	tabindex:-1;
}
.selectDropDown {
	background-image:url(../img/dropdown-bg.jpg) !important;
	    -webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; 
		text-indent: 0.01px;
		text-overflow: ""; 
		cursor:pointer;
	background-repeat:no-repeat;
	width:250px !important;
	height:31px !important;
	border:none !important;
	margin:20px auto !important;
	font-size:0.8rem !important;
	display:block;
}
.submitBtn {
	background-image:url(../img/button-bg.jpg);
	border:none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: "CentroBold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	padding:0;
	margin:10px auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	width:141px;
	height:30px;
}
.submitBtn:hover {
	background-image:url(../img/button-bg-over.jpg)
}
.scrollbar {
	width:380px;
	height:280px;
	margin:auto 35px;
}
#prizescontainer .scrollbar {
	width:420px;
	margin:auto;
}
.scrollContent {
}
#termsText {
	font-family:'CentroMedium', Arial, Helvetica, sans-serif;
	font-size:10px;
}
#termsText p {
	text-align:justify;
}
.presents-text {
	font-family: "CentroBold", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:22px;
	float:left;
	width:320px;
}
.presents-text::after {
	clear:both;
}
.presentsWrapper {
	margin-left:10px;
}
.present {
	float:left;
	height:22px;
	margin-right:5px;
	font-size:13px;
	background-repeat:no-repeat;
	width:37px;
	padding-left:2px;
}
.formLink{
 bottom: 10px;
    font-size: 12px;
    height: 20px;
    left: 142px;
    line-height: 12px;
    position: absolute;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.presents-light {
	background-image:url(../img/presents-arrow-light.png);
}
.presents-dark {
	background-image:url(../img/presents-arrow-dark.png);
	color:#fff;
}
.presentsList {
	width: 395px;
	list-style-type: none;
}
ul li {
	float:left;
}
.presentsSpacer {
	margin-bottom:10px;
}
.columnTitle {
	width:150px;
	text-align:center;
	font-size:14px;
	float: left;
}
.columnCell {
	width:150px;
	text-align:left;
	font-size:14px;
	float: left !important;
	margin:5px;
	background:#CCC;
	line-height:18px;
	padding:2px;
	font-size:11px;
	min-height: 40px;
}
.message {
	text-align:center;
	font-size:24px;
	margin:20px;
}
.message span {
	font-size:18px;
	margin:20px;
}
.formLabel {
	background-image:url(../img/form-label-bg.png);
	background-repeat:no-repeat;
	padding-left:5px;
}
#userform .row {

	line-height:12px !important;
	   margin-left: 1px;
    width: 418px;
}
.formInput {
	margin:0 !important;
	padding:1px !important;
	line-height:12px !important;
	height:17px !important;
	float:left;
}
#userform .columns {
	padding:0!important;
}
.opts .column {
	padding:1px !important;
	margin:0 !important;
}
.optinLabel {
	font-size:8px !important;
	floar:left;
	line-height:9px;
}
.optin {
	margin-left:5px !important;
}
.rightOptin {
	margin-left:10px !important;
}
.contentWrapperForm {
	padding:2px;
}
.contentWrapperForm h1 {
	font-size:18px;
	font-family:'CentroBold', Arial, Helvetica, sans-serif;
	text-align:center;
	 margin-bottom: 2px;
    margin-top: -5px;
}
.formButtons {
	margin:0px !important;
	padding:0px !important;
}
.submitBtnPhone {
	background-image:url(../img/buttonPhone.png);
	width:142px;
	height:29px;
	 left: 30px;
}
#userformsave{
left:20px;

}
.ddLabel {
	text-align:center;
}
#checkbox1, #checkbox2 {
	margin-bottom:1px !important;
}
.tooltip {
	height:106px !important;
	width:212px !important;
	background-image:url(../img/tooltip.png);
	background-color:transparent;
	display:block;
	visibility:hidden;
}
.heightAdjust {
	height:5px !important;
}
.alert-box {
	position:absolute;
	width:420px !important;
	height:300px !important;
	margin:auto;
	text-align:center;
	background-color:rgba(255,0,0,.9);
	z-index:1000;
}
